@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@600&family=Work+Sans&display=swap');

// Breakpoints 
$vw-desktop: 1023px;
$vw-mobile: 768px;
$vw-mobile--header: 900px;

// Colors 
$primary-color: #210082;
$secondary-color: #D9D5D4;
$third-color: #CF9915;

// Font sizes
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-larger: 32px;

// Font type
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Palanquin Dark', sans-serif;