@import '../../../styles/variables';
@import '../../../styles/mixins';

@keyframes bottomToUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 1rem 2rem 5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: $vw-desktop;
  height: 85%;
  margin: 0 auto;
  animation: bottomToUp 1s ease;
  overflow-y: scroll;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalHeader {
  position: relative;
  padding: 1rem;
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: $primary-color;
  color: $third-color;
  font-size: $font-large;
}

.flagAndMap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  overflow: hidden;

  img {
    object-fit: cover;
  }

  * {
    margin-top: .5rem;
  }
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 3rem;

  .tag {
    padding: .3rem .5rem;
    border-radius: 10px;
    margin-right: .5rem;
    margin-top: .5rem;

    &__positive {
      background-color: rgba(15, 240, 127, 0.3);
    }

    &__negative {
      background-color: rgba(240, 15, 15, 0.3);
    }
  }
}

.generalInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  margin: 3rem;

  .card {
    @include card;

    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    justify-content: space-around;
    padding: 2rem;
    min-height: 110px;
    text-align: center;
    border: 1px solid $secondary-color;
    margin-top: .5rem;

    &:not(:last-child) {
      margin-right: .5rem;
    }

    .title {
      font-size: $font-large;
      margin-bottom: 1.2rem;
    }

    .value {
      font-size: $font-larger;
    }

    .detail {
      font-size: $font-small;
    }
  }
}