@import '../../styles/variables';
@import '../../styles/mixins';

#searchBar {
  width: stretch;
  margin: 1rem auto;
}

#searchWrapper {
  text-align: center;
  width: 100%;
}

input {
  @include border-radius;

  border: none;
  padding: 1rem;
  opacity: .6;
}

input:focus {
  opacity: .8;
}