@import '../../styles/variables';

@keyframes moveHorizontal {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

.header {
  position: relative;
  height: 40px;
  padding: 1rem;
  background-color: $primary-color;
  color: $third-color;
  font-size: $font-larger;
  font-family: $secondary-font;

  display: flex;
  white-space: nowrap;
  overflow: hidden;

  .title {
    position: absolute;
    margin-right: 30px;
    top: 25px;
    text-transform: uppercase;
    white-space: nowrap;
    animation: moveHorizontal 20s linear infinite both;
  }

  .animateTitle2 {
    @extend .title;
    animation-delay: 5s;
  }

  .animateTitle3 {
    @extend .title;
    animation-delay: 10s;
  }

  .animateTitle4 {
    @extend .title;
    animation-delay: 15s;
  }
}

@media (max-width: $vw-mobile--header) {
  .title {
    font-size: $font-small;
  }
}

// set header style for mobile